.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sunn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.three, .four, .five, .six, .seven {
    padding: 10px;
    background-color: green;
    width: 100px;
    height: 70px;
}

.one {
    background-color: blue;
    width: 100px;
    height: 70px;
    padding: 10px;
}

.two {
    background-color: red;
    width: 100px;
    height: 70px;
    padding: 10px;
}